name: ci

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  docker:
    runs-on: self-hosted
    strategy:
      matrix:
        version: [jammy, symfony-panther, php-8.3, php-8.1 ]
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push ${{ matrix.version }}
        uses: docker/build-push-action@v3
        with:
          context: "{{defaultContext}}:ubuntu-${{ matrix.version }}"
          push: true
          tags: deovolenteresearch/ubuntu-deploy:${{ matrix.version }}
