name: ci

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  docker:
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Build
        uses: docker/setup-buildx-action@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push test-environment
        uses: docker/build-push-action@v3
        with:
          context: "{{defaultContext}}:ubuntu-test-environment"
          push: true
          tags: deovolenteresearch/ubuntu-deploy:test-environment
